@import url(http://fonts.googleapis.com/css?family=Oxygen);
#content {
  font-family: "Oxygen", sans-serif;
  overflow: hidden; }
  #content #pic_of_day {
    float: left; }
    #content #pic_of_day img {
      display: block; }
  #content #counter_img {
    width: 75px; }
    #content #counter_img img {
      display: block;
      height: 75px;
      width: auto;
      float: left; }

body {
  background: #e4e6e5; }

#container {
  width: 1182px;
  margin: 0 auto;
  margin: 0 52px 0 52px; }

.clear {
  clear: both; }
