#content
{
font-family:$font;
overflow:hidden;

  #pic_of_day {
    float:left;
    margin-top: 35px;
    #banner {
      position:absolute;
      left: 38px;
    }
    img
    {
      display:block;
    }
  }

  #counter_img
  {
    width: 75px;
    float:left;
    margin-top: 35px;
    margin-left:20px;


    img
    {
      display: block;
      height: auto;
      width: 70px;
      margin: 0 auto;
          }
  }

  #table_cont
  {
    float:left;


    ul
    {
        font-size:12px;
        width:575px;

      li
      {
        list-style:none;
        display:inline-block;
        height:30px;
        padding-bottom:10px;
        border-bottom: 1px solid grey;




        div {
          display:inline-block;

         img {
            width:auto;
            height:30px;
            margin-right: 35px;
            padding-bottom:-10px;

          }
        }
      }
    }
  }

}