#content
{
font-family:$font;
overflow:hidden;

  #pic_of_day {
    float:left;
    #banner {
      position:absolute;
    }
    img
    {
      display:block;
    }
  }

  #counter_img
  {
    width: 75px;
    float:left;


    img
    {
      display: block;
      height: auto;
      width: 75px;
          }
  }

}