footer {
  border-bottom: 1px solid #b6b8b7;
  box-shadow: 0px 2px 1px #fff;
  ul {
    list-style: none;
    padding: 0px;

    li {
      display: inline-block;
      margin-left: 13px;
      width: 218px;
      height: 136px;
    }
  }

}