@import 'colors';
@import 'content';
@import 'fonts';
@import 'footer';
@import 'header';
@import 'nav';

body {
  background: $BG_color;
}

#container {
  width:1182px;
  margin: 0 auto;
  margin: 0 52px 0 52px;
}